<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>

let loadViewSubscriptionValue = () => {
      let shouldCheck = false;
      <% if (editUser.permissions.includes("View Subscription")) { %>
        shouldCheck = true;
      <% } %>
      console.log('👻 should check? '+shouldCheck);
    };
  </script>
</head> 

<body onload="populateValues()">
  <%- include('./template/header', {user: user}) -%>
  <%- include('./template/nav', {user: user, selected: "users"})-%>
  <br />
  <%- include('./template/users_nav', {selected: "add"})-%>
  <br />
  Add New User
  <form method="POST">
    First Name : <input type="text" name="first_name" value="<%= editUser.FirstName %>" /><br />
    Last Name : <input type="text" name="last_name" value="<%= editUser.LastName %>" /><br />
    User Name : <input type="text" name="user_name" value="<%= editUser.username %>" /><br />
    Session time out (Minutes) : <input type="text" name="session_timeout" value="<%= editUser.SessionTimeOut %>" /><br />
    Permissions: <br />
    <input type="checkbox" name="perm_view_sub" id="perm_view_sub" onclick="canViewSubscription()" <%= editUser.permissions.includes("View Subscriptions") ? "checked" : "" %>/> View Subscriptions<br />
    <input type="checkbox" name="perm_create_sub" id="perm_create_sub" onclick="canViewSubscription()" <%= editUser.permissions.includes("Create Subscriptions") ? "checked" : "" %> /> Create Subscriptions<br />
    <input type="checkbox" name="perm_delete_sub" id="perm_delete_sub" onclick="canViewSubscription()" <%= editUser.permissions.includes("Delete Subscriptions") ? "checked" : "" %> /> Delete Subscriptions<br />
    <input type="checkbox" name="perm_update_sub" id="perm_update_sub" onclick="canViewSubscription()" <%= editUser.permissions.includes("Update Subscriptions") ? "checked" : "" %> /> Update Subscriptions<br />
    <input type="checkbox" name="perm_view_mov" id="perm_view_mov" onclick="canViewMovie()" <%= editUser.permissions.includes("View Movies") ? "checked" : "" %> /> View Movies<br />
    <input type="checkbox" name="perm_create_mov" id="perm_create_mov" onclick="canViewMovie()" <%= editUser.permissions.includes("Create Movies") ? "checked" : "" %> /> Create Movies<br />
    <input type="checkbox" name="perm_delete_mov" id="perm_delete_mov" onclick="canViewMovie()" <%= editUser.permissions.includes("Delete Movies") ? "checked" : "" %> /> Delete Movies<br />
    <input type="checkbox" name="perm_update_mov" id="perm_update_mov" onclick="canViewMovie()" <%= editUser.permissions.includes("Update Movies") ? "checked" : "" %> /> Update Movies<br />
    <input type="submit" value="<%= editUser.username == '' ? 'Save' : 'Update' %>" formaction="/users/check_user_form?newUser=<%= editUser.username == '' ? '1' : '0' %>"/>
    <input type="submit" formaction="/users" value="Cancel" />
  </form>
  <script>

    let canViewSubscription = () => {
      var checkBoxCreate = document.getElementById("perm_create_sub");
      var checkBoxDelete = document.getElementById("perm_delete_sub");
      var checkBoxUpdate = document.getElementById("perm_update_sub");
      var checkBoxView = document.getElementById("perm_view_sub");
      if (checkBoxCreate.checked == true || checkBoxDelete.checked == true || checkBoxUpdate.checked == true) {
        checkBoxView.checked = true;
      }
    };

    let canViewMovie = () => {
      var checkBoxCreate = document.getElementById("perm_create_mov");
      var checkBoxDelete = document.getElementById("perm_delete_mov");
      var checkBoxUpdate = document.getElementById("perm_update_mov");
      var checkBoxView = document.getElementById("perm_view_mov");
      if (checkBoxCreate.checked == true || checkBoxDelete.checked == true || checkBoxUpdate.checked == true) {
        checkBoxView.checked = true;
      }
    };
  </script>
</body>

</html>