<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./template/header', {user: user}) -%>
    <%- include('./template/nav', {user: user, selected: "movies"})-%>
    <br />
    <%- include('./template/users_nav', {selected: "add"})-%>
    <br/>
    <div class="user_cell">
        <!-- General details -->
        <h3> <%= movie.Name %> </h3><br/>
        <form>
        
          Name : <input type="text" name="name" value="<%= movie.Name %>" /> <br/>
          Genres : <input type="text" name="genres" value="<%= movie.Genres %>" /> <br/>
          Image URL : <input type="text" name="image" value="<%= movie.Image %>" /> <br/>
          Premiered : <input type="text" name="year" value="<%= movie.Premiered %>" /> <br/>

        <!-- Edit Buttons -->
        
          <input type="submit" formaction="/movies/edit/<%= movie._id %>" formmethod="POST" value="Update" />
          <input type="submit" formaction="/movies" formmethod="GET" value="Cancel" />
        </form>

        
    </div><br/>
  </body>
</html>
