<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./template/header', {user: user})-%>
    <%- include('./template/nav', {user: user, selected: "users"})-%>
    <br/>
    <%- include('./template/users_nav', {selected: "default"})-%>
    <br/>
    <% data.forEach(user => { %>
    <div class="user_cell">
      <div class="cell_fields">
        <label>Name: <%= user.FirstName %> <%= user.LastName %></label> <br/>
        <label>User Name: <%= user.username %></label><br/>
          <label>Session time out :  <%= user.SessionTimeOut %> minutes</label> <br/>
            <label>Created data: <%= new Date(user.CreatedDate).toLocaleDateString('en-gb',{year: 'numeric',month: 'numeric',day: 'numeric'}) %></label> <br/>
              <label>Permissions: <%= user.permissions %></label> <br/>
            </div>
        <form>
          <input type="submit" name="edit" value="Edit" formaction="/users/edit/<%= user.id %>" formmethod="POST"/>
          <input type="submit" name="delete" value="Delete" formaction="/users/delete/<%= user.id %>" formmethod="GET" />
        </form>
    </div><br/>
    <% }) %>
  </body>
</html>
