<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <script>
      function toggleVisibility(id, date_picker_id) {
        var moviePicker = document.getElementById(id);
        if (moviePicker.style.display === "none") {
          moviePicker.style.display = "block";
          var date = new Date();
        var currentDate = date.toISOString().slice(0,10);
        document.getElementById(date_picker_id).value = currentDate;
        document.getElementById(date_picker_id).min= currentDate;
        } else {
          moviePicker.style.display = "none";
        }
      }

      function subscribeToMovie(movieId) {
        let id = "movieSelector"+movieId
        var movieSelector = document.getElementById(id);
        var selectedMovieId = movieSelector.options[movieSelector.selectedIndex].id;
      }
    </script>
    <%- include('./template/header', {user: user}) -%>
    <%- include('./template/nav', {user: user, selected: "members"})-%>
    <br/>
    <%- include('./template/members_nav', {selected: "default"})-%><br/>
    <% data.forEach(member => { %>
    <div class="user_cell">
        <!-- General details -->
        <h2> <%= member.name %> </h2>
        <h4>Email: <%= member.email %> </h4>
        <h4>City: <%= member.city %> </h4>

        <!-- Edit Buttons -->
        <form method="GET">
          <% if (user.permissions.includes("Update Subscriptions")) { %>
          <input type="submit" formaction="/members/edit/<%= member.id %>" value="Edit" />
          <% } %>
          <% if (user.permissions.includes("Delete Subscriptions")) { %>
          <input type="submit" formaction="/members/delete/<%= member.id %>" value="Delete" />
          <% } %>
        </form>

        <!-- Movies list -->
        <div class="member_watch_list_box">
          <b>Movies watched</b><br/>
          <button type="submit" id="aaa" onclick="toggleVisibility('moviePicker<%= member.id %>', 'date_picker<%= member.id %>')">Subscribe to new movie</button>

          <!-- Movie Picker -->
          <form action="/members/subscribeToMovie" method="post" id="moviePicker<%= member.id %>" style="display: none; border-style: solid; border-width: 2px; border-color: red;">
            Add a new movie <br/>
            <input type="hidden" name="subId" value="<%= member.subId %>" />
            <select id="movieSelector<%= member.id %>" name="movieSelector">
              <% let memberMoviesIds = member.movies.map(memberMovie => memberMovie.id); movies.forEach(movie => { %> 
                <% if (!memberMoviesIds.includes(movie.id)) { %>
                      <option value="<%= movie.id %>" id="<%= movie.id %>" > <%= movie.name %> </option>
                <% }}) %>
            </select>
            <input type="date" id="date_picker<%= member.id %>" name="date_picker"/> <br/>
            <button type="submit" onclick="subscribeToMovie('<%= member.id %>')">Subscribe</button>
          </form>

          <!-- History List-->
          <ul>
            <% member.movies.forEach(movie => { %>
              <% if (user.permissions.includes('View Movies')) { %>
              <li><a href="/movies/details/<%= movie.id %>"><%= movie.title %></a> <%= new Date(movie.date).toLocaleDateString('en-gb',{year: 'numeric',month: 'numeric',day: 'numeric'}) %></li>
              <% } else { %>
              <li><%= movie.title %><%= new Date(movie.date).toLocaleDateString('en-gb',{year: 'numeric',month: 'numeric',day: 'numeric'}) %></li>
              <% } %>
            <% }) %>
          </ul>
        </div>
    </div><br/>
    <% }) %>
  </body>
</html>
