<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./template/header', {user: user}) -%>
    <%- include('./template/nav', {user: user, selected: "movies"})-%>
    <br/>
    <%- include('./template/movies_nav', {user: user, selected: "default"})-%>
    <% if (data.length == 0) { %>
      <h4 style="color: red">No movies were found.</h4>
    <% } %>
    <br/>
    <% data.forEach(movie => { %>
    <div class="user_cell">
        <h2><%= movie.name %> (<%= new Date(movie.year).getFullYear() %>) </h2>
        <h3><%= movie.genres %></h3>
        <% if (movie.image.length > 0) { %>
        <img src="<%= movie.image %>"> 
        <% } %>
        <div class="movie_cell_history">
          <% if (movie.subscriptions.length == 0) { %>
            <label>(No subscriptions yet)</label>
          <% } else { %>
            <label>Subscriptions watched</label>
            <% } %>
          <ul>
            <% movie.subscriptions.forEach(subscriber => { %>
              <% if (user.permissions.includes('View Subscriptions')) { %>
              <li><a href="/members/<%= subscriber.MemberId %>"><%= subscriber.Name %></a> <%= new Date(subscriber.WatchDate).toLocaleDateString('en-gb',{year: 'numeric',month: 'numeric',day: 'numeric'}) %></li>
              <% } else { %>
              <li><%= subscriber.Name %> <%= new Date(subscriber.WatchDate).toLocaleDateString('en-gb',{year: 'numeric',month: 'numeric',day: 'numeric'}) %></li>
              <% } %>
            <% }) %>
          </ul>
        </div>
        <form method="GET">
          <% if (user.permissions.includes("Update Movies")) { %>
          <input type="submit" name="edit" formaction="/movies/edit/<%= movie.id %>" value="Edit" />
          <% } %>
          <% if (user.permissions.includes("Delete Movies")) { %>
          <input type="submit" name="delete" formaction="/movies/delete/<%= movie.id %>" value="Delete" />
          <% } %>
        </form>
    </div><br/>
    <% }) %>
  </body>
</html>
